<div class="card card-block">
  <h4 class="card-title">
    Export My Data
  </h4>
  <div class="card-text">
    <%= link_to("Export", export_data_settings_path, target: "_blank", class: "btn btn-primary btn-default export-data-button") %>
  </div>
</div>
