<div class="jumbotron">
  <h1 class="display-3 full-logo">
    <%= image_tag("logo_full.png") %>
  </h1>
  <p class="lead">
    A simple website to track your net worth.
  </p>

  <hr class="my-2">

  <p class="lead">
    <%= render("get_started") %>
  </p>
</div>
