// Place all the styles related to the settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.settings-container {
  margin-top: 2%;
  margin-left: 2%;
}

.export-data-button {
  margin-top: 1%;
}
